* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* text-align: right; */
}

::placeholder {
    color: #C9C9C9;
}

:-moz-placeholder {
    color: #C9C9C9;
}

:-ms-input-placeholder {
    color: #C9C9C9;
}

::-webkit-input-placeholder {
    color: #C9C9C9;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    opacity: 0;
    display: none;
}

input[type=number]::-moz-focus-inner {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    display: none;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent !important;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #0B52B2;
}

input[type=range]::-webkit-slider-thumb {
    border: 10px solid #aae6fc;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #0B52B2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -30px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0B52B2;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #0B52B2;
}

input[type=range]::-moz-range-thumb {
    border: 10px solid #3BCBFF;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: #0B52B2;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #0B52B2;
}

input[type=range]::-ms-fill-upper {
    background: #0B52B2;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 10px solid #3BCBFF;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #0B52B2;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #064392;
}

input[type=range]:focus::-ms-fill-upper {
    background: #064392;
}

/* ********************************************** */
/* local library */
/* ********************************************** */
html,
body {
    overflow-x: hidden;
    background: #FCFCFC;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
span,
b {
    font-family: 'Poppins', sans-serif;
}

/* ********************************************** */
/* header section start from here */
/* ********************************************** */
header {
    position: absolute;
    width: 100%;
    padding: 0 30px;
    z-index: 2;
}

.navbar-brand img {
    width: 200px;
}

.nav-btn {
    background: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

.menu-items li a {
    padding: 0 8px;
    margin: 0 10px;
    color: #fff;
}

.menu-btn {
    background: #01ACF0;
    padding: 12px 25px !important;
    border-radius: 5px;
    transition: linear .2s;
}

.menu-btn:hover {
    background: #fff;
    color: #01ACF0;
    transition: linear .2s;
}

/* ********************************************** */
/* banner section start from here */
/* ********************************************** */
.banner-sec {
    background-image: url(../images/Mask\ Group\ 28.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 630px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    background-color: #FCFCFC;
}

.banner-content {
    padding-top: 210px;
    margin-right: 50px;
}

.banner-content h1 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 59px;
    text-align: right;
}

.banner-content p {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}

/* ********************************************** */
/* form section start from here */
/* ********************************************** */
.form-sec {

    padding-top: 50px;
    padding-bottom: 150px;
    z-index: 1;
    background: #FCFCFC;
    position: relative;
}

/*form styles*/
.steps {
    position: relative;
}

.steps fieldset {
    max-width: 900px;
    margin: auto;
    transition: linear .5s;
}

/*Hide all except first fieldset*/
.steps fieldset:not(:first-of-type) {
    display: none;
    transition: linear .5s;
}

/*inputs*/
.steps label {
    color: #595959;
    font-size: 16px;
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
    transition: linear .2s;
    font-weight: 300;
    font-size: 15px;
}


.steps input,
.steps textarea,
.steps select {
    text-align: right;
    border: 1px solid #C9C9C9;
    border-radius: 6px;
    font-size: 16px;
    padding: 13px 20px;
    margin-bottom: 15px;
    color: #5E656D;
    width: 100%;
    background: #fff;
}

/*buttons*/
.steps .action-button,
.action-button {
    background: #0D4EA5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: linear .2s;
    width: 125px;
    padding: 15px;
}

.steps .next,
.steps .submit {
    float: right;
}

.steps .previous {
    float: left;
}

.steps .action-button:hover,
.steps .action-button:focus,
.action-button:hover,
.action-button:focus {
    background: #073D86;
    transition: linear .2s;
}


/*progressbar*/
#progressbar {
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

#progressbar:after {
    content: "";
    position: absolute;
    padding: 1px;
    background: #0B52B2;
    left: 0;
    right: 0;
    top: 14px;
    z-index: 0;
    margin: 0 40px;
}

#progressbar li {
    list-style-type: none;
    position: relative;
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    width: 10%;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    display: block;
    font-size: 15px;
    background: #cec8c8;
    margin: auto;
    margin-bottom: 10px;
    width: 28px;
    height: 28px;
    padding: 3px;
    font-weight: 300;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #0B52B2;
    color: white;
    font-weight: 500;
}

.range-slider {

    display: table;
    width: 100%;
    margin-bottom: 70px;
}

.range-slider input {
    margin: 0;
    display: block;
    border: none;
    padding: 0;
    position: relative;
    /* top: -12px; */
}

.valeurPrix {

    width: 120px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #C9C9C9;
    border-radius: 6px;
    font-size: 16px;
    background: #fff;
    color: #5E656D;
    padding: 0 15px;
}

/* propose of the loan */
.loan-propose {
    margin-bottom: 40px;
}

.proposelabel {
    background: #fff;
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    padding: 35px 15px;
    margin-bottom: 25px !important;
}

.loan-propose label:hover {
    background: #0B52B2;
    transition: linear .2s;
}

.loan-propose label p {
    color: #0B52B2;
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 25px;
}

.loan-propose label input {
    display: none;
}

.propose-icon {
    filter: none;
    transition: linear .2s;
    text-align: center;
}

.loan-propose label:hover .propose-icon {
    filter: saturate(0%) brightness(1000%) saturate(0);
    transition: linear .2s;
}

.propose-icon img {
    height: 80px;
}

.labelactive {
    background: #0B52B2;
}

.labelactive .propose-icon {
    filter: saturate(0%) brightness(1000%) saturate(0);
    transition: linear .2s;
}

/*  */
.regular-filds {
    direction: rtl;
    margin-bottom: 50px;
}

.regular-filds label {
    margin-bottom: 10px;
}

.regular-filds p {
    margin-bottom: 30px;
    margin-top: 0;
    display: table;
    width: 100%;
}

.regular-filds p i {
    text-align: center;
    border: 1px solid #C9C9C9;
    font-size: 16px;
    background: #fff;
    color: #5E656D;
    width: 50px;
    display: table-cell;
    border-left: none;
    border-radius: 0 6px 6px 0;
}

.regular-filds p input {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    border: 1px solid #C9C9C9;
    border-radius: 6px;
}

.bd-fild {
    display: block ruby;
}

.bd-fild input {
    width: 35%;
}

.bd-fild input:last-child {
    width: 27%;
}

.multiple-options {

    direction: rtl;
    text-align: right;
}

.multiple-options label {
    display: inline-block;
    width: auto;
    margin-left: 25px;
}

.multiple-options input {
    margin: 0;
    width: auto;
}

.cancel-button {
    width: auto !important;
    padding: 13px 40px;
}

.submit-button {
    width: auto !important;
    padding: 13px 40px;
}

.tearms label {
    width: auto;
    display: block;
}

.tearms label input {
    width: auto;
    margin-bottom: 0;
    margin-left: 5px;
}

/* ********************************************** */
/* footer section start from here */
/* ********************************************** */
.footer-sec {
    background-image: url(../images/Group\ 980.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 380px;
    position: relative;
    z-index: 0;
    bottom: 0;
    width: 100%;
}

.footer-widgets p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
    margin-right: 50px;
}

.footer-widgets ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-widgets li {
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer-widgets li i {
    width: 25px;
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
}

.footer-widgets li a {
    color: #fff;
    font-size: 15px;
}

.footer-widgets h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 60px;
}

.footer-widgets-contact li {
    margin-bottom: 25px;
    font-size: 15px;
}

.footer-img {
    width: 230px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    padding-top: 18px;
    border-top: 1px solid #c7c7c780;
    padding-bottom: 3px;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 15px;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
}

footer a {
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer a i {
    font-size: 12px;
    margin-left: 5px;
}

/* loder stylesheet */
.loder-box{}
.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #3050ff;
    vertical-align: middle;
    pointer-events: none;
    border: 7px dotted;
    -webkit-border: 7px dotted;
    border-radius: 50%;
    -webkit-animation: 3s loader cubic-bezier(.68,-0.55,.27,1.55) infinite;
    animation: 3s loader cubic-bezier(.68,-0.55,.27,1.55) infinite;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* input range */
.input-range {
  }
  
  .input-range__slider {
    width: 100%;
  }
  
  .progress,
  .progress__bar {
    height: 40px;
  }
  
  .progress__value {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    z-index: 5;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
  }
  
  .progress {
    background-color: #94E3FB;
    position: relative;
  }
.progress:before{
    content: '';
    background: #FCFCFC;
    position: absolute;
    top: -20px;
    left: -4px;
    right: 0;
    height: 40px;
    transform: rotate(-2.1deg);
}
  .progress__bar {
    background-color: #006CFF;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  main {
  }